{% extends 'shop/index.html' %}

{% block content %}
{% if seite == 'login' %}
  <div>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="mb-3">
        <label for="benutzer" class="form-label">Benutzername</label>
        <input type="text" id="benutzer" class="form-control" aria-describedby="benutzername" name="benutzername" placeholder="Benutzername">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Passwort</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="passwort" placeholder="Passwort">
      </div>
      <button type="submit" class="btn btn-secondary">Login</button>
      <hr>
      <p>Noch keinen Account? <a href="{% url 'reg' %}" class="link-success">Registrieren</a></p>
    </form>
  </div>
  {% else %}
  <div>
    <form method="POST" action="">
      {% csrf_token %}
      {{ form }}
      <br>
      <button type="submit" class="btn btn-secondary">Registriren</button>
      <hr>
      <p>Schon einen Account? <a href="{% url 'login' %}" class="link-success">Login</a></p>
    </form>
  </div>
  {% endif %}
{% endblock content %}